.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff; 
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.Register label {
    font-size: 16px;
    margin-bottom: 6px;
}

.Register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
}

.Register button {
    background-color: #007bff; 
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Register h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Register button:hover {
    opacity: 0.8;
    background-color: #0056b3; 
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align:left;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
  download {
    image-rendering: -webkit-optimize-contrast !important;
    transform: translateZ(1px);
  }
}

