/* Student.css */
.main-con{
    margin-right: 100px;
}
.road-map {
    display: flex;
    flex-direction: column;
    -ms-flex-align: end;
    /* align-items:end; */
    width: 100%;
    border: 2px solid black;
    min-width: 1000px;
    height: 100vh; /* Ensure each card container takes up the full viewport height */
}



.card-container {
    flex: 1;
    width: 50%;
    background-color: #f2f2f2; /* Set the background color of each card container */
    /* min-width: 1000px; */
    border: 2px solid black;
    justify-content: end;
    /* margin-right: auto; */
    /* margin-bottom: 10px; Add margin to separate card containers */
}

.card {
    padding: 20px;
    /* Add other styling for your card content */
}
